/* ==========================CONNECTTING-FONTS==========================*/
/** @&display=swap  &subset=cyrillic-ext */

@import url("https://fonts.googleapis.com/css?family=Roboto:400,500,700,900&display=swap");
@import url("https://fonts.googleapis.com/css?family=Poppins:300,regular,500,600,700&display=swap");

/* ==========================STYLE-RESET==========================*/
*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
}

li {
	list-style: none;
}

a,
a:visited {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}

img {
	vertical-align: top;
}

html,
body {
	height: 100%;
	line-height: 1;
}

html {
	/* по умолчанию */
	font-size: 16px;
}

body {
	font-family: "Roboto", sans-serif;
	background-color: #F5F5F5;
}

.wrapper {
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}

.main {
	flex-grow: 1;
}

[class*="__container"] {
	max-width: 1050px;
	margin: 0 auto;
	padding: 0 15px;
}

[class*="__ibg"] {
	position: relative;
}

[class*="__ibg"] img {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	object-fit: cover;
}

/* ПК, ноутбуки, некоторые планшеты в горизонтальном положении */
/* @media (max-width:) {} */

/*Планшеты, некоторые телефоны в горизонтальном положении */
@media (max-width: 991.98px) {}

/* Телефоны L */
@media (max-width: 767.98px) {}

/* Телефоны S */
@media (max-width: 479.98px) {}

/* =============================GENERAL-STYLE============================= */
/* =============================HEADER============================= */
.header {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 99;
	width: 100%;
	padding: 26px 0 0 0;
}

.header__container {}

.header-top {
	display: flex;
	justify-content: space-between;
	gap: 40px 70px;
	margin-bottom: 28px;
}

.top-header {}

.top-header__logo {
	align-self: flex-start;
	z-index: 15;
}

.top-header__right {
	display: flex;
	gap: 30px;
}

.top-header__info {
	display: flex;
}

.top-header_link-info {
	max-width: 172px;
	font-weight: 500;
	font-size: 12px;
	line-height: 183.333333%;
	letter-spacing: 0.15px;
	color: #FFFFFF;
}

.top-header__info::before {
	content: "";
	padding-right: 34px;
	display: inline-flex;
	height: 24px;
	filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.top-header__info-time:before {
	background: url("../img/header/time.svg") no-repeat;
}

.top-header__info-phone:before {
	background: url("../img/header/phone.svg") no-repeat;
}

.button {
	display: flex;
	text-align: center;
	align-items: center;
	min-width: 40px;
	padding: 12px 34.5px;
	background-color: #F2726F;
	border-radius: 8px;
	font-weight: 700;
	font-size: 12px;
	line-height: 200%;
	letter-spacing: 0.15px;
	text-transform: uppercase;
	color: #FFFFFF;
	border-radius: 8px;
	transition: 0.3s ease 0s;
}

.button:hover {
	background-color: #eb4e4c;
}

.header-bottom {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #FFFFFF;
	border-radius: 10px;
}

.header__burger {
	display: none;
}

.header__burger:hover .header-bottom {
	background-color: #eb4e4c;
}

.bottom-header {
	padding: 20px 48px 20px 40px;
}

.bottom-header__navigation {}

.navigation {}

.navigation__body {
	display: flex;
	flex-wrap: wrap;
	gap: 10px 37px;
}

.navigation__item {
	position: relative;
}

.navigation__link-item {
	display: inline-flex;
	align-items: center;
	font-weight: 700;
	font-size: 14px;
	line-height: 157.142857%;
	/* 22px/14 */
	letter-spacing: 0.15px;
	color: #000000;
	transition: 0.2s ease 0s;
}

.navigation__link-item:hover {
	color: #F2726F;
}

.navigation__link-item-arrow::after {
	content: "";
	margin-left: 4px;
	width: 16px;
	height: 16px;
	transition: transform 0.3s ease 0s;
	background: url("../img/header/arrow.svg") 0 0 no-repeat;
}

.navigation__link-item-arrow:hover::after {
	transform: rotate(180deg);
}

.navigation__link-item-arrow:hover+.navigation__list {
	display: flex;
	flex-direction: column;
}

.navigation__list {
	border-radius: 0 0 10px 10px;
	padding: 20px;
	width: 150px;
	background-color: #FFFFFF;
	position: absolute;
	top: 30px;
	left: -40px;
	display: none;
	transition: 0.2s ease 0s;
}

.navigation__list:hover {
	color: #F2726F;
}

.list {}

.list__item {}

.list__link {
	font-weight: 700;
	font-size: 14px;
	line-height: 157.142857%;
	letter-spacing: 0.15px;
	color: #000000;
}

.bottom-header__element-control {
	display: flex;
	column-gap: 22px;
}

.bottom-header__search {}

.bottom-header__body-search {
	display: flex;
}

.bottom-header__button-serch {
	background-color: transparent;
}

.bottom-header__icon-search {
	flex: 0 0 24px;
	cursor: pointer;
}

.bottom-header__icon-cart,
.bottom-header__icon-search {
	transition: opacity 0.3s ease 0s;
}

.bottom-header__icon-cart:hover,
.bottom-header__icon-search:hover {
	fill: #F2726F;
}

.bottom-header__input-search {
	width: 100%;
	transition: 0.3s ease 0s;
	outline: transparent;
	border-radius: 8px;
	color: rgba(75, 75, 75);
	font-weight: 600;
	font-size: 14px;
	line-height: 150%;
}

.bottom-header__input-search::placeholder {
	color: rgba(75, 75, 75, 0.5);
}

.bottom-header__cart {}

.bottom-header__icon-cart {}

@media (max-width: 880.98px) {
	.header-top {
		flex-direction: column;
	}

	.top-header__right {
		justify-content: space-between;
	}

	.top-header__info {}
}

@media(max-width: 661.98px) {
	.top-header__right {
		flex-direction: column;
	}

	.header-bottom {
		padding: 10px 15px;
	}

	.button {
		align-self: flex-start;
	}
}

@media (max-width: 991.98px) {
	.header__burger {
		position: relative;
		flex: 0 0 24px;
		height: 24px;
		display: flex;
	}

	.top-header__logo {
		z-index: 99;
		position: relative;
	}

	.navigation__list {
		padding: 10px;
		background-color: transparent;
		position: static;
	}

	.list__link {
		color: #FFFFFF;
		font-size: 20px;
	}


	.navigation__link-item {
		color: #FFFFFF;
		font-size: 45px;
	}
}

@media (max-width: 991.98px) and (min-width: 661.99px) {
	.header__burger {
		position: relative;
		flex: 0 0 24px;
		height: 24px;
		display: flex;
	}

	.bottom-header__navigation {
		overflow: auto;
		padding: 130px 30px 30px 30px;
		position: fixed;
		z-index: 90;
		top: 0;
		left: 100%;
		width: 100%;
		height: 100%;
		background-color: #303369;
	}

	.bottom-header__navigation::before {
		content: "";
		position: fixed;
		z-index: 68;
		width: 100%;
		height: 120px;
		top: 0;
		left: 100%;
		background-color: #3d4079
	}

	.navigation__list {
		padding: 10px;
		background-color: transparent;
		position: static;
	}

	.list__link {
		color: #FFFFFF;
		font-size: 20px;
	}

	.navigation__body {
		flex-direction: column;
	}

	.navigation__link-item {
		color: #FFFFFF;
		font-size: 45px;
	}

	.bottom-header__element-control {
		flex: 0 0 100%;
	}

	.bottom-header__search {
		width: 100%;
	}
}

@media (max-width: 661.98px) {
	.header-top {
		row-gap: 25px;
	}

	.bottom-header__cart {
		z-index: 99;
		position: fixed;
		flex: 0 0 24px;
		display: flex;
		transform: translate(-200%);
		top: 74px;
		left: 100%;
		fill: #F2726F;
	}

	.header__burger {
		position: fixed;
		z-index: 99;
		top: 37px;
		left: 100%;
		transform: translate(-200%);
		flex: 0 0 24px;
		height: 24px;
		display: flex;
	}

	.header__burger svg {
		fill: #F2726F;
	}

	.header-bottom {
		overflow: auto;
		padding: 130px 30px 30px 30px;
		border-radius: 0%;
		background-color: #303369;
		position: fixed;
		z-index: 90;
		top: 0;
		left: 100%;
		width: 100%;
		height: 100%;
		justify-content: flex-start;
		align-items: flex-start;
		flex-direction: column;
		gap: 30px;
	}

	.header-bottom::before {
		content: "";
		position: fixed;
		z-index: 68;
		width: 100%;
		height: 120px;
		top: 0;
		left: 100%;
		background-color: #3d4079
	}

	.navigation__body {
		flex-direction: column;
	}

	.navigation__list {
		padding: 10px;
		background-color: transparent;
		position: static;
	}

	.bottom-header__body-search {
		border-radius: 8px;
		padding: 9px 15px;
		background-color: #FFFFFF;
	}
}

.main-block {
	position: relative;
}

.main-block__container {
	position: relative;
	z-index: 33;
	padding: 280px 15px 312px 15px;
}

.main-block__container>*:not(:last-child) {
	margin-bottom: 48px;
}

.main-block__title {
	max-width: 583px;
	font-weight: 900;
	font-size: 56px;
	color: #FFFFFF;
}

.main-block__button {
	display: inline-flex;
}

.button {}

.main-block__ibg {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}

@media (max-width: 880.98px) {
	.main-block__container {
		padding: 360px 15px 272px 15px;
	}
}

@media(max-width: 661.98px) {
	.main-block__container {
		padding: 360px 15px 252px 15px;
	}
}

@media (max-width: 479.98px) {
	.main-block__container {
		padding: 360px 15px 212px 15px;
	}
}

.who-we-are {
	position: relative;
	z-index: 33;
}

.who-we-are__container {
	display: flex;
	flex-direction: column;
	position: relative;
	z-index: 33;
	margin-top: -80px;
	margin-bottom: 120px;
	padding: 100px 87px 52px 87px;
	background: url("../img/who_we_are/blob.png") -20px 260px no-repeat;
	background-color: #5D62B5;
	border-radius: 40px;
}

.who-we-are__container::before {
	content: "";
	position: absolute;
	width: 100%;
	height: 100%;
	left: 100%;
	top: -15%;
	transform: translate(-12.5%, 0);
	background: url("../img/who_we_are/decor.svg") no-repeat;
}

.who-we-are__title-block {
	max-width: 583px;
	margin-bottom: 36px;
}

.titles-block>*:not(:last-child) {
	margin-bottom: 33px;
}

.titles-block {}

.titles-block__title {
	font-weight: 600;
	font-size: 12px;
	line-height: 24px;
	letter-spacing: 2.5px;
	text-transform: uppercase;
	color: #F5F5F5;
	padding: 0 0 0 36px;
	background: url("../img/icon.svg") 0 -2px no-repeat;
}

.titles-block__subtitle {
	font-weight: 900;
	font-size: 36px;
	line-height: 116.666667%;
	color: #FFFFFF;
}

.who-we-are__text {
	font-size: 16px;
	line-height: 150%;
	letter-spacing: 0.15px;
	color: #F5F5F5;
	margin-bottom: 54px;
}

.who-we-are__image {
	position: relative;
}

.who-we-are__img {
	margin-bottom: -174px;
	width: 100%;
	max-height: 100%;
	object-fit: cover;
	filter: drop-shadow(0px 8px 16px rgba(38, 38, 38, 0.24)) drop-shadow(0px 16px 24px rgba(38, 38, 38, 0.2));
	border-radius: 40px;
}

@media(max-width: 1150.98px) {
	.who-we-are__container {
		max-width: 850px;
		padding: 80px 67px 34px 67px;
	}
}

@media (max-width: 991.98px) {
	.who-we-are__container {
		max-width: 750px;
	}
}

@media (max-width: 767.98px) {
	.who-we-are__container {
		padding: 70px 57px 34px 57px;
	}

	.who-we-are__container::before {
		display: none;
	}

	.who-we-are__container {
		margin-bottom: 0;
	}

	.who-we-are__img {
		display: none;
	}

	.who-we-are__text {
		margin-bottom: 34px;
	}
}

@media (max-width: 691.98px) {
	.who-we-are__container {
		padding: 70px 47px 14px 47px;
	}
}

@media (max-width: 479.98px) {
	.who-we-are__container {
		padding: 60px 27px 14px 27px;
	}
}

.promise {
	padding: 110px 0 122px 0;
}

.promise__container {}

.promise__title-block {
	max-width: 583px;
	margin-bottom: 68px;
}

.titles-block {}

.titles-block__title {}

.titles-block__title_color {
	color: #5D62B5;
}

.titles-block__title_color {
	background: url("../img/promise/icon.svg") 0 -2px no-repeat;
}

.titles-block__subtitle {}

.titles-block__subtitle_color {
	color: #000000;
}

.promise__items {
	margin: 0 -12px;
	display: flex;
	row-gap: 30px;
}

.item {
	padding: 0 12px;
	display: flex;
	gap: 23px;
	flex: 0 0 33.33%;
}

.item__icon {
	display: flex;
	justify-content: center;
	flex: 0 0 63px;
	height: 63px;
}

.item__img-icon {
	object-fit: cover;
	max-width: 100%;
	max-height: 100%;
}

.item__content>*:not(:last-child) {
	margin-bottom: 20px;
}

.item__title {
	font-weight: 900;
	font-size: 19px;
	line-height: 136.842105%;
	color: #F2726F;
}

.item__text {
	line-height: 150%;
	letter-spacing: 0.15px;
	color: #4B4B4B;
}

@media (max-width: 891.98px) {
	.promise {
		padding: 95px 0 107px 0;
	}

	.promise__items {
		flex-wrap: wrap;
		/* flex-direction: column; */
	}

	.item {
		flex: 0 0 50%;
	}
}

@media (max-width: 767.98px) {
	.promise {
		padding: 70px 0 82px 0;
	}

	.promise__title-block {
		margin-bottom: 38px;
	}

	.promise__items {
		flex-direction: column;
	}
}

.video {
	padding: 112px 0 169px 0;
	min-height: 500px;
	background: url("../img/video/dog.png") 0% 100% no-repeat, url("../img/video/blob.png") no-repeat, url("../img/video/circles.svg") 0 50% no-repeat, url("../img/video/ball.png") 77% 0 no-repeat, #29C3BE;
}

.video__container {
	display: flex;
	justify-content: flex-end;
}

.video__content {
	max-width: 411px;
}

.video__content>*:not(:last-child) {
	margin-bottom: 42px;
}

.video__title {
	font-weight: 900;
	font-size: 36px;
	line-height: 42px;
	color: #FFFFFF;
}

.video__button {
	display: inline-flex;
}

.button {}

@media (max-width: 991.98px) {
	.video {
		background: url("../img/video/blob.png") no-repeat, url("../img/video/circles.svg") 0 50% no-repeat, #29C3BE;
	}

	.video__container {
		display: flex;
		justify-content: center;
		align-items: center;
	}
}

@media (max-width: 767.98px) {
	.video {
		min-height: 400px;
		padding: 92px 0 92px 0;
	}
}