/* ==========================CONNECTTING-FONTS==========================*/
/** @&display=swap  &subset=cyrillic-ext */

@import url("https://fonts.googleapis.com/css?family=Roboto:400,500,700,900&display=swap");
@import url("https://fonts.googleapis.com/css?family=Poppins:300,regular,500,600,700&display=swap");

/* ==========================STYLE-RESET==========================*/
*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
}

li {
	list-style: none;
}

a,
a:visited {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}

img {
	vertical-align: top;
}

html,
body {
	height: 100%;
	line-height: 1;
}

html {
	/* по умолчанию */
	font-size: 16px;
}

body {
	font-family: "Roboto", sans-serif;
	background-color: #FFFFFF;
}

.wrapper {
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	flex: 1 1 auto;
	padding: 100px 0;
}

[class*="__container"] {
	max-width: 1020px;
	margin: 0 auto;
}

/* =============================GENERAL-STYLE============================= */

/* =============================HEADER============================= */

/* =============================MAIN============================= */
.form-make {
	margin: 100px auto;
	max-width: 585px;
	padding: 76px 58px;
	background: #5D62B5;
	border-radius: 40px;
}

.form-make__title {
	font-weight: 900;
	font-size: 36px;
	line-height: 116.666667%;
	/* 42px/36 */
	text-align: center;
	color: #FFFFFF;
	margin-bottom: 43px;
}

.form-make__body {
	display: flex;
	gap: 21px;
	flex-wrap: wrap;
}

.form-make__input {
	outline: none;
	font-family: "Roboto", sans-serif;
	padding: 0 23px;
	border: 2px solid #ffffff;
	border-radius: 10px;
	background-color: transparent;
	opacity: 0.8;
	width: 224px;
	flex-grow: 1;
	min-height: 48px;
	font-size: 16px;
	line-height: 150%;
	/* 24px/16 */
	letter-spacing: 0.15px;
	color: #FFFFFF;
}

.form-make__input::placeholder {
	transition: 0.3s ease 0s;
	color: #FFFFFF;
}

.form-make__input:focus::placeholder {
	color: transparent;
}

.form-make textarea {
	resize: vertical;
	opacity: 0.8;
	outline: none;
	font-family: "Roboto", sans-serif;
	border: 2px solid #ffffff;
	border-radius: 10px;
	background-color: transparent;
	flex: 1 0 100%;
	min-height: 180px;
	padding: 17px 23px;
	font-weight: 400;
	font-size: 16px;
	line-height: 150%;
	color: #FFFFFF;
}

.form-make textarea::placeholder {
	transition: 0.3s ease 0s;
	color: #FFFFFF;
}

.form-make textarea:focus::placeholder {
	color: transparent;
}

.form-make__button {
	font-family: "Roboto", sans-serif;
	cursor: pointer;
	margin: 8px 0 0 auto;
	padding: 12px 34px;
	font-weight: 700;
	font-size: 12px;
	line-height: 200%;
	/* 24px/12 */
	letter-spacing: 0.15px;
	text-transform: uppercase;
	color: #FFFFFF;
	background: #F2726F;
	border-radius: 8px;
	transition: transform 0.2s ease 0s;
}

.form-make__button:hover {
	transform: scale(0.97);
}


.form-login {
	margin: 100px auto;
	max-width: 564px;
	font-family: "Poppins", sans-serif;
	padding: 37px 57.5px 40px 57.5px;
	background: #F5F7FF;
}

.form-login>*:not(:last-child) {
	margin-bottom: 15px;
}

.form-login-title {
	font-weight: 600;
	font-size: 18px;
	line-height: 150%;
	/* 27px/18 */
	color: #000000;
}

.form-login__text {
	font-weight: 300;
	font-size: 14px;
	line-height: 214.285714%;
	/* 30px/14 */
	color: #000000;
}

.form-login__body>*:not(:last-child) {
	margin-bottom: 15px;
}

.form-login__item {
	gap: 7px;
	display: flex;
	flex-direction: column;
}

.form-login__input {
	font-family: "Poppins", sans-serif;
	flex: 0 0 50px;
	width: 100%;
	border: 1px solid #A2A6B0;
	border-radius: 4px;
	font-weight: 300;
	font-size: 14px;
	line-height: 20px;
	color: #000000;
	padding: 0 16px;
}

.form-login__input::placeholder {
	transition: color 0.3s ease 0s;
	color: #A2A6B0;
}

.form-login__input:focus::placeholder {
	color: transparent;
}

.form-login__label {
	font-family: "Poppins", sans-serif;
	font-weight: 600;
	font-size: 13px;
	line-height: 210%;
	color: #000000;
}

.form-login__label::after {
	content: " *";
	color: #df0f0b;
}

.form-login__buttton {
	align-self: flex-start;
	margin-top: 15px;
	cursor: pointer;
	font-family: "Poppins", sans-serif;
	padding: 15px 50px;
	background: #0156FF;
	border-radius: 50px;
	font-weight: 600;
	font-size: 14px;
	line-height: 150%;
	/* 21px/14 */
	color: #FFFFFF;
	margin-right: 23px;
	transition: transform 0.2s ease 0s;
}

.form-login__buttton:hover {
	transform: scale(0.97);
}

.form-login__recovery {
	display: inline-flex;
	font-size: 14px;
	line-height: 142.857143%;
	/* 20px/14px */
	color: #0156FF;
	transition: text-decoration 0.3s ease 0s;
}

.form-login__recovery:hover {
	text-decoration: underline #0156FF;
}





.form-summary {
	display: flex;
	gap: 20px;
	flex-direction: column;
	max-width: 446px;
	margin: 100px auto;
	font-family: "Poppins", sans-serif;
	background-color: #F5F7FF;
	padding: 27px 27px 14px 27px;
}

.form-summary__title {
	font-weight: 600;
	font-size: 24px;
	line-height: 150%;
	/* 36px/24 */
	color: #000000;
}

.form-summary__body {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.form-summary__text {
	font-size: 18px;
	line-height: 150%;
	/* 27px/18 */
	color: #000000;
}

.form-summary__sub-text {
	max-width: 287px;
	font-size: 14px;
	line-height: 150%;
	/* 21px/14 */
	color: #666666;
}

.form-summary__item {
	display: flex;
	flex-direction: column;
}

.form-summary__label {
	font-weight: 600;
	font-size: 13px;
	line-height: 210%;
	color: #000000;
	margin-bottom: 5px;

}

.form-summary__input {
	font-family: "Poppins", sans-serif;
	padding: 0 17px;
	background-color: #FFFFFF;
	border: 1px solid #A2A6B0;
	border-radius: 4px;
	flex: 0 0 50px;
	width: 100%;
	font-size: 14px;
	line-height: 142.857143%;
	/* 20px/14 */
	color: #000000;
}

.form-summary__checkbox {
	position: relative;
}

.form-summary__box-input {
	cursor: pointer;
	position: absolute;
	opacity: 0;
	top: 0;
	left: 0;
}

.form-summary__text-checkbox {
	gap: 8px;
	display: inline-flex;
	font-family: "Poppins", sans-serif;
	font-size: 14px;
	line-height: 142.857143%;
	/* 20px/14 */
	color: #000000;
}

.form-summary__text-checkbox::before {
	transition: 0.3s ease 0s;
	cursor: pointer;
	position: relative;
	content: "";
	flex: 0 0 21px;
	height: 21px;
	border-radius: 50%;
	border: 2px solid #0156FF;
}

.form-summary__text-checkbox::after {
	transition: 0.3s ease 0s;
	cursor: pointer;
	content: "";
	top: 4px;
	left: 4px;
	opacity: 0;
	position: absolute;
	width: 13px;
	height: 13px;
	border-radius: 50%;
	background-color: #0156FF;
}

.form-summary__box-input:focus+.form-summary__text-checkbox:before {
	opacity: 1;
}

.form-summary__box-input:focus+.form-summary__text-checkbox::after {
	opacity: 1;
}

.form-summary__input::placeholder {
	transition: color 0.3s ease 0s;
	color: #A2A6B0;
}

.form-summary__input:focus::placeholder {
	color: transparent;
}

.form-summary__button-apply {
	margin-top: 19px;
	font-family: "Poppins", sans-serif;
	cursor: pointer;
	font-weight: 600;
	font-size: 14px;
	line-height: 21px;
	color: #0156FF;
	border: 2px solid #0156FF;
	border-radius: 50px;
	padding: 14px 0;
}



.shipping {
	max-width: 750px;
	font-family: "Poppins", sans-serif;
}

.shipping__title {
	font-weight: 600;
	font-size: 18px;
	line-height: 150%;
	/* 27px/18 */
	color: #000000;
}

.shipping__title::after {
	margin: 15px 0 25px 0;
	content: "";
	display: flex;
	width: 100%;
	border-bottom: 1px solid #CACDD8;
}

.shipping__title {
	font-weight: 600;
	font-size: 18px;
	line-height: 150%;
	/* 27px/18 */
	color: #000000;
}

.form-shipping {
	display: flex;
	flex-direction: column;
	gap: 15px;
}

.form-shipping__item {
	display: flex;
	flex-direction: column;
	max-width: 565px;
}

.form-shipping__label {
	margin-bottom: 7px;
	cursor: pointer;
	font-weight: 600;
	font-size: 13px;
	line-height: 210%;
	color: #000000;
}

.form-shipping__label::after {
	content: " *";
	color: #C94D3F;
	font-size: 14px;

}

.form-shipping__input {
	cursor: pointer;
	font-family: "Poppins", sans-serif;
	font-size: 14px;
	line-height: 142.857143%;
	/* 20px/14 */
	color: #000000;
	flex: 0 0 50px;
	width: 100%;
	border: 1px solid #A2A6B0;
	border-radius: 4px;
	padding: 0 17px;
}

.form-shipping__input:not(:last-child) {
	margin-bottom: 11px;
}

.form-shipping__description {
	font-size: 13px;
	line-height: 210%;
	color: #666666;
}

.form-shipping__select {
	font-family: "Poppins", sans-serif;
	font-size: 14px;
	line-height: 142.857143%;
	/* 20px/14 */
	color: #000000;
	flex: 0 0 50px;
	border: 1px solid #A2A6B0;
	border-radius: 4px;
	padding: 0 17px;
}

.rate::before {
	margin: 15px 0 0 0;
	content: "";
	display: flex;
	width: 100%;
	border-bottom: 1px solid #CACDD8;
}

.rate__label {
	cursor: pointer;
	font-weight: 600;
	font-size: 13px;
	line-height: 210%;
	color: #000000;
	margin-bottom: 4px;
	display: inline-flex;
}

.rate__body {
	display: flex;
	column-gap: 30px;
	justify-content: space-between;
	position: relative;
}

.rate__input {
	cursor: pointer;
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
}

.rate__input:focus+.rate__text-input::before {
	opacity: 1;
}

.rate__input:focus+.rate__text-input::after {
	opacity: 1;
}

.rate__text-input {
	display: inline-flex;
	align-items: center;
	cursor: pointer;
	font-family: 'Poppins';
	font-size: 14px;
	line-height: 142.857143%;
	/* 20px/14 */
	color: #000000;
}

.rate__text-input::before {
	align-self: flex-start;
	content: "";
	width: 21px;
	height: 21px;
	border: 2px solid #0156FF;
	border-radius: 50%;
	padding: 0 17px 0 0;
	margin-right: 8px;
	transition: opacity 0.2s ease 0s;
}

.rate__text-input::after {
	width: 13px;
	top: 4px;
	left: 4px;
	transition: opacity 0.2s ease 0s;
	position: absolute;
	opacity: 0;
	content: "";
	height: 13px;
	background: #0156FF;
	border-radius: 50%;
}

.rate-price {
	font-weight: 600;
	font-size: 14px;
	line-height: 20px;
	color: #000000;
}

.form-shipping__button {
	margin-top: 25px;
	display: inline-flex;
	max-width: 210px;
	cursor: pointer;
	padding: 17px 88px;
	background: #0156FF;
	border-radius: 50px;
	font-weight: 600;
	font-size: 14px;
	line-height: 21px;
	color: #FFFFFF;
}


/* =============================FOOTER============================= */